src/domains/idpay-app/api/idpay_mock_ex_serv_inps/inps-isee.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:i0="http://tempuri.org/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://inps.it/ConsultazioneISEE" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SvcConsultazione" targetNamespace="http://inps.it/ConsultazioneISEE">
	<wsdl:types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://inps.it/ConsultazioneISEE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
     <xs:element name="Identity">
      <xs:complexType>
       <xs:sequence>
        <xs:element name="UserId" minOccurs="1" maxOccurs="1" type="xsd:string" />
        <xs:element name="CodiceUfficio" minOccurs="1" maxOccurs="1" type="xsd:string" />
       </xs:sequence>
      </xs:complexType>
     </xs:element>
     <xs:element name="ConsultazioneAttestazione">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="request" type="tns:ConsultazioneAttestazioneRequestType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ConsultazioneAttestazioneRequestType">
		<xs:complexContent>
			<xs:extension base="tns:FiltroConsultazioneType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ConsultazioneAttestazioneResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ConsultazioneAttestazioneResult" type="tns:ConsultazioneAttestazioneResponseType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ConsultazioneAttestazioneResponseType">
		<xs:complexContent>
			<xs:extension base="tns:ConsultazioneResponseType">
				<xs:sequence>
					<xs:element name="XmlEsitoAttestazione" type="xs:base64Binary" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ConsultazioneIndicatore">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="request" type="tns:ConsultazioneIndicatoreRequestType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ConsultazioneIndicatoreRequestType">
		<xs:sequence>
			<xs:element name="TipoIndicatore" type="tns:TipoIndicatoreSinteticoEnum"/>
			<xs:element name="RicercaCF" type="tns:RicercaCFType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ConsultazioneIndicatoreResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ConsultazioneIndicatoreResult" type="tns:ConsultazioneIndicatoreResponseType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ConsultazioneIndicatoreResponseType">
		<xs:complexContent>
			<xs:extension base="tns:ConsultazioneResponseType">
				<xs:sequence>
					<xs:element name="XmlEsitoIndicatore" type="xs:base64Binary" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FiltroConsultazioneType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="RicercaCF" type="tns:RicercaCFType"/>
				<xs:element name="RicercaProtDSU" type="tns:RicercaProtDSUType"/>
				<xs:element name="RicercaProtMittente" type="tns:RicercaProtMittenteType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RicercaCFType">
		<xs:sequence>
			<xs:element name="CodiceFiscale" type="tns:CodiceFiscaleType"/>
			<xs:element name="DataValidita" type="xs:date" minOccurs="0"/>
			<xs:element name="PrestazioneDaErogare" type="tns:PrestazioneDaErogareType" minOccurs="0"/>
			<xs:element name="ProtocolloDomandaEnteErogatore" type="xs:string" minOccurs="0"/>
			<xs:element name="StatodomandaPrestazione" type="tns:StatoDomandaPrestazioneType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="StatoDomandaPrestazioneType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Da Erogare"/>
			<xs:enumeration value="Erogata"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PrestazioneDaErogareType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A1.01"/>
			<xs:enumeration value="A1.02"/>
			<xs:enumeration value="A1.03"/>
			<xs:enumeration value="A1.04"/>
			<xs:enumeration value="A1.05"/>
			<xs:enumeration value="A1.06"/>
			<xs:enumeration value="A1.07"/>
			<xs:enumeration value="A1.08"/>
			<xs:enumeration value="A1.09"/>
			<xs:enumeration value="A1.10"/>
			<xs:enumeration value="A1.11"/>
			<xs:enumeration value="A1.12"/>
			<xs:enumeration value="A1.13"/>
			<xs:enumeration value="A1.14"/>
			<xs:enumeration value="A1.15"/>
			<xs:enumeration value="A1.16"/>
			<xs:enumeration value="A1.17"/>
			<xs:enumeration value="A1.18"/>
			<xs:enumeration value="A1.19"/>
			<xs:enumeration value="A1.20"/>
			<xs:enumeration value="A2.01"/>
			<xs:enumeration value="A2.02"/>
			<xs:enumeration value="A2.03"/>
			<xs:enumeration value="A2.04"/>
			<xs:enumeration value="A2.05"/>
			<xs:enumeration value="A2.06"/>
			<xs:enumeration value="A2.07"/>
			<xs:enumeration value="A2.08"/>
			<xs:enumeration value="A2.09"/>
			<xs:enumeration value="A2.10"/>
			<xs:enumeration value="A2.11"/>
			<xs:enumeration value="A2.12"/>
			<xs:enumeration value="A3.01"/>
			<xs:enumeration value="A3.02"/>
			<xs:enumeration value="A3.03"/>
			<xs:enumeration value="Z9.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ConsultazioneResponseType">
		<xs:sequence>
			<xs:element name="IdRichiesta" type="xs:int"/>
			<xs:element name="Esito" type="tns:EsitoEnum"/>
			<xs:element name="DescrizioneErrore" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RicercaProtDSUType">
		<xs:sequence>
			<xs:element name="ProtocolloDSU" type="xs:string"/>
			<xs:element name="CodiceFiscaleBeneficiario" type="tns:CodiceFiscaleType"/>
			<xs:element name="PrestazioneDaErogare" type="tns:PrestazioneDaErogareType" minOccurs="0"/>
			<xs:element name="ProtocolloDomandaEnteErogatore" type="xs:string" minOccurs="0"/>
			<xs:element name="StatodomandaPrestazione" type="tns:StatoDomandaPrestazioneType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RicercaProtMittenteType">
		<xs:sequence>
			<xs:element name="ProtocolloMittente" type="xs:string"/>
			<xs:element name="CodiceFiscaleBeneficiario" type="tns:CodiceFiscaleType"/>
			<xs:element name="PrestazioneDaErogare" type="tns:PrestazioneDaErogareType" minOccurs="0"/>
			<xs:element name="ProtocolloDomandaEnteErogatore" type="xs:string" minOccurs="0"/>
			<xs:element name="StatodomandaPrestazione" type="tns:StatoDomandaPrestazioneType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EsitoEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK"/>
			<xs:enumeration value="RICHIESTA_INVALIDA"/>
			<xs:enumeration value="DATI_NON_TROVATI"/>
			<xs:enumeration value="DATABASE_OFFLINE"/>
			<xs:enumeration value="ERRORE_INTERNO"/>
			<xs:enumeration value="RISCONTRO_NON_VALIDO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoIndicatoreSinteticoEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Ordinario"/>
			<xs:enumeration value="Minorenne"/>
			<xs:enumeration value="Universitario"/>
			<xs:enumeration value="SocioSanitario"/>
			<xs:enumeration value="Dottorato"/>
			<xs:enumeration value="Residenziale"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodiceFiscaleType">
		<xs:restriction base="xs:string">
			<xs:pattern value="([A-Z]{6}\d{2}[A-Z]\d{2}[A-Z][A-Z0-9]{3}[A-Z])|(\d{11})"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ISvcConsultazione_ConsultazioneIndicatore_InputMessage">
		<wsdl:part name="parameters" element="tns:ConsultazioneIndicatore"/>
	</wsdl:message>
	<wsdl:message name="ISvcConsultazione_ConsultazioneIndicatore_OutputMessage">
		<wsdl:part name="parameters" element="tns:ConsultazioneIndicatoreResponse"/>
	</wsdl:message>
	<wsdl:portType name="ISvcConsultazione">
		<wsdl:operation name="ConsultazioneIndicatore">
			<wsdl:input message="tns:ISvcConsultazione_ConsultazioneIndicatore_InputMessage" wsaw:Action="http://inps.it/ConsultazioneISEE/ISvcConsultazione/ConsultazioneIndicatore"/>
			<wsdl:output message="tns:ISvcConsultazione_ConsultazioneIndicatore_OutputMessage" wsaw:Action="http://inps.it/ConsultazioneISEE/ISvcConsultazione/ConsultazioneIndicatoreResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BasicHttpBinding_ISvcConsultazione" type="tns:ISvcConsultazione">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ConsultazioneIndicatore">
			<soap:operation soapAction="http://inps.it/ConsultazioneISEE/ISvcConsultazione/ConsultazioneIndicatore" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SvcConsultazione">
		<wsdl:port name="BasicHttpBinding_ISvcConsultazione" binding="tns:BasicHttpBinding_ISvcConsultazione">
			<soap:address location="https://api-io.dev.cstar.pagopa.it/mock-ex-serv-pdnd2"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
